@import "tailwindcss";

@theme {
  --color-kbz-blue: #1B3664;
  --color-kbz-blue-hover: #2B5292;
  --color-kbz-blue-light: #F0F4F8;
  --color-kbz-gray-bg: #F4F7F9;
}

body {
  background-color: var(--color-kbz-gray-bg);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}