@import "tailwindcss";

@theme {
  --color-kbz-blue: #0054A6;
  --color-kbz-blue-hover: #004587;
  --color-kbz-gray-bg: #F5F7FA;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-kbz-gray-bg);
  color: #333333;
}
